---
import GraphEditor from '../components/vue/GraphEditor.vue';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rabbithole</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Instrument+Serif:ital@1&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div id="app" style="width: 100vw; height: 100vh;">
      <GraphEditor client:only="vue" />
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
  @import '../styles/nodes.css';
  @import '../styles/vueflow-overrides.css';
</style>
